<div class="container-fluid">
    <div class="panel panel-warning">
        <div class="panel-body">
            <div class="container-fluid">
            	<p>STUB - THIS PAGE NEEDS UPDATING</p>
            	<p>The <b>My Family</b> option allows you to manage your own personal details and those of the people associated with you. These will include spouses and children etc.</p>
               <p>The <b>Family Management</b> will allow you to add adults and children to families, depending on your permissions. Even a single individual assisting will still be considered a family.</p>

            </div>
    </div>
</div>
