<div class="container-fluid">
    <div class="panel panel-warning">
        <div class="panel-body">
            <div class="container-fluid">
                <%= link_to('Attendance', {:action => 'index', :controller => 'attendance'},:remote => true, :class => 'btn btn-warning') %>
            </div>
    </div>
</div>

