<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<p>This will guide you through the process of adding a family. Each family must consist of at least one adult. Once the adult has been added additional children or other relations can be added. It is possible to add an adult without children, as in the case of a helper etc.</p>
			<p>A child must be added to an existing adult. The relationship will be defined at the time the child is added to the adult. This can be done by locating the adult and then selected the "Add child" button. This option allows you to enrole a new child or form a relationship between the adult and an existing child.</p>
		</div>
	</div>
</div>