<div class="container-fluid">
    <div class="panel panel-warning">
        <div class="panel-body">
            <div class="container-fluid">
                <%#= link_to('Enroll family', {:action => 'enrole', :controller => 'family'},:remote => true, :class => 'btn btn-warning') %>
                <%= link_to('Enroll adult', {:action => 'enrole', :controller => 'parents'},:remote => true, :class => 'btn btn-warning') %>
            </div>
    </div>
</div>

