<div class="container-fluid">
    <div id="notify">
    <div class="panel panel-default">
        <div class="panel-heading">Please use the form below to update, where required, the details for the parent or guardian.
        </div>
    </div>
    </div>
    <div class="panel panel-warning">
        <div class="panel-heading">
            <span>Adding new record</span>
        </div>
        <div class="panel-body">
            <div class="container-fluid">
                <div class="col-md-11">
                <%= form_tag({:controller => :parents, :action => :create, :id => encrypt(parent.id)}, :remote => true,:authenticity_token => form_authenticity_token, :role => 'form', :class => 'form-horizontal', :id => 'parent_form') do |f| %>
                    <%= render 'parents/parent_form', :parent => parent, :user => user %>
                </div>
                <div class="col-md-1">
                    <button type="submit" onclick="$('#parent_form').submit();" class="btn btn-info btn-sm pull-right">Create</button>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
