<div class="container-fluid">
    <div id="notify">
    <div class="panel panel-warning">
        <div class="panel-body">Please use the form below to update, where required, the details for the recruit.
        </div>
    </div>
    </div>
    <div class="panel panel-warning">
        <div class="panel-heading">
            <span><%= recruit.fullname %></span>
            <span class="pull-right">Last updated : <%= recruit.updated_at.to_date.to_s %></span>
        </div>
        <div class="panel-body">
            <div class="container-fluid">
                <div class="col-md-11">
                <%= form_tag({:controller => :recruits, :action => :update, :id => encrypt(recruit.id)}, :remote => true,:authenticity_token => form_authenticity_token, :role => 'form', :class => 'form-horizontal', :id => 'recruit_form') do |f| %>

                    <%= render 'recruit_form', :recruit => recruit, :user => user, :patrols => patrols, :burrows => burrows, :sixers => sixers %>
                </div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-info btn-sm" onclick="$('#recruit_form').submit();">Update</button>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
